/* ==========================================================================
   1. щрифты
   ========================================================================== */
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Thin.woff2) format("woff2");
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.woff2) format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

/* ==========================================================================
   2. основа
   ========================================================================== */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box; /* Защищает от вылезания элементов за экран */
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
}

/* ==========================================================================
   3. для пк
   ========================================================================== */

header {
    background-image:         
        linear-gradient(180deg, #381DDB 0%, rgba(56, 29, 219, 0) 80%),
        linear-gradient(10deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
        url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 964px; /* Используем min-height вместо жесткого height */
    display: flex;
    flex-direction: column;
}

.menu-toggle {
    display: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
}

.nav-menu ul{
    display: flex;
    align-items: center;
    
    gap: 30px;
}

.nav-menu li{
    font-size: 18px;
    font-weight: 500;
    gap: 40px;
}

.nav-menu a{
    color: #fff;
    text-decoration: none;
    transition:  0.3s;
}

.nav-menu a:hover{
    background-color: #a51ddb;
    border-radius: 16px;
    padding: 5px 10px;
}

.ticket{
    background-color: #fff;

    padding: 15px 20px;
    border-radius: 8px;

    transition: 0.3s;
}

.ticket:hover{
    background-color: #1dafdb;
}

.ticket-text{
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;

    color: #381DDB;
}

.block{
    max-width: 800px; /* Ваша максимальная ширина */
    margin: 100px auto 0 auto; /* 100px сверху, auto справа, 0 снизу, auto слева */
    text-align: center;
}

.block h1{
    font-size: 50px;
    font-weight: 700;

    margin-bottom: 20px;
}

.block p{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 30px;
}

#Music{
    color: #FFBE9D;
}

@media (max-width: 768px) {

    .container {
        padding: 30px 20px;
        position: relative;
    }

    .nav-menu ul {
        flex-direction: column;
        gap: 10px;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .nav-menu {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s linear;
        transform: translateY(-10px);

        position: absolute;
        top: 100%;
        background-color: #000000e3;
        padding: 10px 20px;
        border-radius: 18px;
    }

    .nav-menu.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    
}
